:root {
  --white: #FFF;
  --primary: #61ECBC;
  --black: #182339;
}
* {
  margin: 0;
  padding: 0;
}
.html {
  font-size: 62.5%;
  
}
body {
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}
.container {
  max-width: 40rem;
  width: 95%;
  margin: 0 auto;
}
.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: .8;
}
.app-title span {
  display: block;
  font-size: 4rem;
  color: var(--primary);
}
.content {
  margin-top: 5rem;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.form,
.field{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.form label {
  color: var(--black);
}
.form select {
  background-color: #e0d9d9;
  border: none;
  padding: .7rem;
  font-size: .9rem;
  border-radius: .2rem;

}
.form [type="submit"] {
  background: var(--primary);
  color: var(--black);
  border: none;
  padding: .8rem;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 2rem;
  border-radius: .2rem;
  transition: background-color 200ms ease;
}
.form [type="submit"]:hover {
  background: #0CB387;
}